@model IEnumerable<EduLibraryHub.Data.Entities.Review>

@{
    ViewData["Title"] = "Отзиви";
}

<h1>Отзиви</h1>

<p>
    <a asp-action="Create">Добави отзив</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Прегледай</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
